@charset "utf-8";
/* CSS Document */




@keyframes  fadeIn

{
	

	
from {opacity:0;}
to {opacity:1;}	

	
}



*
{
	
text-align:center;
	
	
}

body

{
	
background:-moz-linear-gradient(top, #F5F5F5 0%, rgba(255,255,255,1) 100%) no-repeat;;
background:-webkit-linear-gradient(top, #F5F5F5 0%, rgba(255,255,255,1) 100%) no-repeat;

}


a
{	
color: rgba(0,153,255,0.9);
text-decoration: none;



}

header

{
	padding-top: 100px;
	font-weight:light;
	
	

}

#userAgentBox

{
	opacity:0;
	animation-name: fadeIn;
animation-duration: 2s;
-webkit-animation-name: fadeIn;
-webkit-animation-fill-mode:forwards;
-webkit-animation-duration: 2s;
-moz-animation-name: fadeIn;
-moz-animation-duration: 2s;
-moz-animation-fill-mode:forwards;
-o-animation-name: fadeIn;
-o-animation-duration: 2s;
animation-name: fadeIn;
animation-duration: 2s;
animation-fill-mode:forwards;
	
	
	
	}
	
footer

{
	
	
	vertical-align:baseline;
	text-align:center;
	padding-bottom:50px;
	
}

img

{

width:90%;
height:auto;

}